{% extends "base.html" %} {% load static %} {%block nav%}
<nav id="nav-menu-container">
    <ul class="nav-menu">
        <li><a href="#" id="refresh">Refresh</a></li>
        <li>
            <form id="news-form" action="{%url 'news'%}">
                {% csrf_token %}
                <select id="option" name="option">
                    <option disabled="true" selected>--newspaper--</option>
                    <option>hindu_national</option>
                    <option>hindu_international</option>
                    <option>toi_national</option>
                    <option>toi_international</option>
                    <option>hindustan_times</option>
                </select>
                <input id="submit" type="submit" value="Submit">
            </form>
        </li>
    </ul>
</nav>
{%endblock%} {% block main_form %}
<div id="main">
    <div class="newsgif">
        <img src="{% static 'img/newspaper.gif'%}">
        <br>
        <strong style="margin:20px;">Save Your favourite articles.</strong>
    </div>
    <div class="main-container">
        <form action="/action_page.php">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Title">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">URL</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="Paste URL here">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col-75">
                    <select id="category" name="category">
              <option value="general">General</option>
              <option value="business">Business</option>
              <option value="sports">Sports</option>
              <option value="science">Science</option>
              <option value="tech">Tech</option>
              <option value="health">Health</option>
              <option value="entertainment">Entertainment</option>
            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Publish Date(yyyy-mm-dd)</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="Published date">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
{%endblock%}