appdirs==1.4.3
asgiref==3.2.3
asn1==2.2.0
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.1
black==19.10b0
btrfsutil==1.1.1
CacheControl==0.12.5
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
configparser==4.0.2
constantly==15.1.0
crayons==0.3.0
cryptography==2.8
cssselect==1.1.0
distlib==0.3.0
distro==1.4.0
Django==3.0.2
goose3==3.1.6
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
jieba==0.39
lockfile==0.12.2
lxml==4.4.1
more-itertools==7.2.0
msgpack==0.6.2
mysqlclient==1.4.6
nltk==3.4.5
ordered-set==3.1.1
packaging==19.2
parsel==1.5.2
pathspec==0.7.0
pep517==0.6.0
Pillow==6.2.1
ply==3.11
progress==1.5
Protego==0.1.15
pwquality==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.5
PyQt5==5.14.0
PyQt5-sip==12.7.0
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2019.3
queuelib==1.5.0
redis==3.3.11
regex==2020.2.20
requests==2.22.0
retrying==1.3.3
Scrapy==2.6.2
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
team==1.0
terminaltables==3.1.0
toml==0.10.0
Twisted==19.10.0
typed-ast==1.4.1
urllib3==1.25.7
w3lib==1.21.0
webdriver-manager==2.3.0
webencodings==0.5.1
youtube-dl==2019.11.28
zipp==0.6.0
zope.interface==4.7.1
